.nav-item a {
    font-weight: 600;
    color: #555;
    padding: 0 10px;
}

.nav-item a:hover {
    text-decoration: none;
    color: #C70237;
}

.nav-item.active a {
    color: #C70237 !important;
    font-weight: 800;
}

.navbar {
    padding: 0;
}


.menu {
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
}

.hero {
    font-size: 4em;
}

p{
    text-transform: none;
    font-weight: 500;
}

.alt-bg {
    background: #f8f8f8;
    padding: 50px 30px;
}

.services {
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 30px;
    min-height: 360px;
}

.services img {
    margin-bottom: 20px;
}

.services:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.tech {
    margin-top: 30px;
}

.testi {
    background: #f8f8f8;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.testi:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.testi-q {
    font-size: 4em;
    line-height: 1em;
    color: #C70237;
    font-style: italic;
}

.testi-content {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
}

.member {
    background: white;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.member:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.member img {
    margin-bottom: 20px;
    max-width:  150px;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}


.swiper-container {
    width: auto;
}


.member a {
    color: #555555;
}

.member a:hover {
    color: #C70237;
}

.member a i {
    font-size: 1.5em;
    margin: 0 5px;
}

.brand-color {
    color: #C70237;
}

.our-social {
    color: #555555;
}

.our-social:hover {
    color: #C70237;
}

.our-social i {
    font-size: 2em;
    margin-right: 20px;
}

.with-border {
    border-right: 1px solid #efefef;
}

.footer-item {
    margin: 20px 0;
}

.footer-item a {
    color: #C70237;
}

.content {
    padding: 0 30px;
}

.email-link,
.address-link {
    color: #555555;
}

.email-link:hover,
.address-link:hover {
    color: #C70237;
}

.address-link p:hover {
    color: #C70237;
}

.cta {
    text-align: right;
    margin: 0;
}

@media only screen and (max-width: 980px) {
    .navbar-collapse {
        display: block;
        box-sizing: border-box;
    }
    .menu {
        margin: 20px 0 0 0;
    }

    .cta {
        text-align: center;
        margin: 20px 0 0 0;
    }
    .with-border {
        border-right: none;
    }
}

@media only screen and (max-width: 565px){
    .cta-content {
        text-align: center;
    }
    .footer-item {
        text-align: center;
    }
    .services{
        min-height: auto;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding:20  30px;
    }

    .menu {
        margin: 20px 0 0 0;
    }

    .menu li {
        display: block;
        margin-top: 10px;
    }

    .hero {
        font-size: 2.5em;
    }
    
    
}