$primary: #C70237;
$primary-dark: #8D0F30;
$danger: #FF9800;
$success: #69F0AE;
$alternate: #2196F3;
$warning: #FFFF00;
$text-color: #555555;

$normal-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); 
$primary-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);


/*
Button generation
*/
@mixin normal-button {
    display: inline-block;
    padding: 9px 20px;
    margin-right: 20px;
    margin-left: 0;
    border: none;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
@mixin hover-button {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
@mixin active-button {
    -moz-outline-style: none;
    outline: none;
}

/*
Element started
*/
body{
    background: white;
    color: #555555;
    font-size: 1em;
    font-family: 'Mukta', sans-serif;
    margin: 0 auto;
    padding: 0;
    }
h1,h2,h3,h4,h5 {
    color: #000000;
    font-weight: 800;
    }
    
    p {
    color: #555555;
    text-transform: capitalize;
    }

    button,.button {
        @include normal-button;
        box-shadow: $normal-shadow; 
        background: $primary;
      }
    
    button:hover,
    a.button:hover {  
        @include hover-button;
        background: #ED104B;
        box-shadow: $primary-shadow;
    }
    
    button:active,
    a.button:active {
      @include active-button;
      background: $primary-dark;
      box-shadow: $primary-shadow;
    }
    
    button:focus,
    a.button:focus {
      @include active-button;
      background: $primary;
      box-shadow: $primary-shadow;
    }
    
    button:disabled,
    button[disabled],
    .button:disabled,
    .button[disabled] {
      background: #9B435B;
      box-shadow: $normal-shadow;
      color: #bdbdbd;
      cursor: not-allowed;
    }

    button i,.button i {
        margin-left: 10px;
      }
button.warning,
.button.warning {
    background: $warning !important;
    color: black !important;
}

.button.warning:hover,
button.warning:hover {
    background: #FFFF45 !important;
    box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:active,
.button.warning:active {
    background: #D5D500 !important;
    box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:focus,
.button.warning:focus {
    background: $warning !important;
    box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:disabled,
button.warning[disabled],
.button.warning:disabled,
.button.warning[disabled] {
    background: #E4E486 !important;
    color: $text-color !important;
}

button.success,
.button.success {
    background: $success !important;
    color: black !important;
}

button.success:hover,
.button.success:hover {
    background: #0CFF88 !important;
    box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

.button.success:active,
button.success:active {
    background: #52CC91 !important;
    box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

button.success:focus,
.button.success:focus {
    background: $success !important;
    box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

button.success:disabled,
.button.success:disabled,
button.success[disabled],
.button.success[disabled] {
    color: $text-color !important;
    background: #A9DEC4 !important;
}

button.danger,
.button.danger {
    background: $danger !important;
    color: black !important;
}

button.danger:hover,
.button.danger:hover {
    background: #FFBB57 !important;
    box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:active,
.button.danger:active {
    background: #D98100 !important;
    box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:focus,
.button.danger:focus {
    background: $danger !important;
    box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:disabled,
.button.danger:disabled,
button.danger[disabled],
.button.danger[disabled] {
    color: $text-color !important;
    background: #F9BE68 !important;
}

button.alternate,
.button.alternate {
    background: $alternate !important;
    color: black !important;
}

button.alternate:hover,
.button.alternate:hover {
    background: #6ABDFF !important;
    box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
} 

button.alternate:active,
.button.alternate:active {
    background: #008CFB !important;
    box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
}

button.alternate:focus,
.button.alternate:focus {
    background: #2196F3 !important;
    box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
}

button.alternate:disabled,
.button.alternate:disabled,
button.alternate[disabled],
.button.alternate[disabled] {
    color: $text-color !important;
    background: #97C3E6 !important;
}

button.big,
.button.big {
    font-size: 1.3em !important;
    border-radius: 16px !important;
}

button.small,
.button.small {
    padding: 4px 20px !important;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
}

.space {
    height: 50px;
    width: auto;
    display: block;
}

.space-s {
    height: 30px;
    width: auto;
    display: block;
}

label {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0;
    box-sizing: border-box;
}

label:hover {
    cursor: pointer;
}

input,textarea {
    background: rgba(0, 0, 0, 0.07); 
    border: 1px solid transparent;
    font-size: 1em;
    color: $text-color;
    font-weight: 600;
    padding: 10px 20px;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
    color: #bdbdbd;
    font-weight: 400;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
    background: rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
}

input.full,
textarea.full {
    width: 100% !important;
}

input.danger,
textarea.danger {
    background: rgba(255, 152, 0, 0.1);
    border: 1px solid #FF9800;
    color: $danger;
} 

input.success,
textarea.succes {
    background: rgba(33, 150, 243, 0.1);
    border: 1px solid #2196F3;
    color: $text-color;
}

