/*
Button generation
*/
/*
Element started
*/
body {
  background: white;
  color: #555555;
  font-size: 1em;
  font-family: 'Mukta', sans-serif;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: #000000;
  font-weight: 800;
}

p {
  color: #555555;
  text-transform: capitalize;
}

button, .button {
  display: inline-block;
  padding: 9px 20px;
  margin-right: 20px;
  margin-left: 0;
  border: none;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  background: #C70237;
}

button:hover,
a.button:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: #ED104B;
  -webkit-box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
          box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
}

button:active,
a.button:active {
  -moz-outline-style: none;
  outline: none;
  background: #8D0F30;
  -webkit-box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
          box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
}

button:focus,
a.button:focus {
  -moz-outline-style: none;
  outline: none;
  background: #C70237;
  -webkit-box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
          box-shadow: 5px 5px 20px rgba(199, 2, 55, 0.5);
}

button:disabled,
button[disabled],
.button:disabled,
.button[disabled] {
  background: #9B435B;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  color: #bdbdbd;
  cursor: not-allowed;
}

button i, .button i {
  margin-left: 10px;
}

button.warning,
.button.warning {
  background: #FFFF00 !important;
  color: black !important;
}

.button.warning:hover,
button.warning:hover {
  background: #FFFF45 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:active,
.button.warning:active {
  background: #D5D500 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:focus,
.button.warning:focus {
  background: #FFFF00 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 255, 0, 0.5);
}

button.warning:disabled,
button.warning[disabled],
.button.warning:disabled,
.button.warning[disabled] {
  background: #E4E486 !important;
  color: #555555 !important;
}

button.success,
.button.success {
  background: #69F0AE !important;
  color: black !important;
}

button.success:hover,
.button.success:hover {
  background: #0CFF88 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
          box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

.button.success:active,
button.success:active {
  background: #52CC91 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
          box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

button.success:focus,
.button.success:focus {
  background: #69F0AE !important;
  -webkit-box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
          box-shadow: 5px 5px 20px rgba(105, 240, 174, 0.5);
}

button.success:disabled,
.button.success:disabled,
button.success[disabled],
.button.success[disabled] {
  color: #555555 !important;
  background: #A9DEC4 !important;
}

button.danger,
.button.danger {
  background: #FF9800 !important;
  color: black !important;
}

button.danger:hover,
.button.danger:hover {
  background: #FFBB57 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:active,
.button.danger:active {
  background: #D98100 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:focus,
.button.danger:focus {
  background: #FF9800 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(255, 152, 0, 0.5);
}

button.danger:disabled,
.button.danger:disabled,
button.danger[disabled],
.button.danger[disabled] {
  color: #555555 !important;
  background: #F9BE68 !important;
}

button.alternate,
.button.alternate {
  background: #2196F3 !important;
  color: black !important;
}

button.alternate:hover,
.button.alternate:hover {
  background: #6ABDFF !important;
  -webkit-box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
          box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
}

button.alternate:active,
.button.alternate:active {
  background: #008CFB !important;
  -webkit-box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
          box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
}

button.alternate:focus,
.button.alternate:focus {
  background: #2196F3 !important;
  -webkit-box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
          box-shadow: 5px 5px 20px rgba(33, 150, 243, 0.5);
}

button.alternate:disabled,
.button.alternate:disabled,
button.alternate[disabled],
.button.alternate[disabled] {
  color: #555555 !important;
  background: #97C3E6 !important;
}

button.big,
.button.big {
  font-size: 1.3em !important;
  border-radius: 16px !important;
}

button.small,
.button.small {
  padding: 4px 20px !important;
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
}

.space {
  height: 50px;
  width: auto;
  display: block;
}

.space-s {
  height: 30px;
  width: auto;
  display: block;
}

label {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label:hover {
  cursor: pointer;
}

input, textarea {
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid transparent;
  font-size: 1em;
  color: #555555;
  font-weight: 600;
  padding: 10px 20px;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdbdbd;
  font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 400;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: #bdbdbd;
  font-weight: 400;
}

input:hover,
input:active,
textarea:hover,
textarea:active {
  background: rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
}

input.full,
textarea.full {
  width: 100% !important;
}

input.danger,
textarea.danger {
  background: rgba(255, 152, 0, 0.1);
  border: 1px solid #FF9800;
  color: #FF9800;
}

input.success,
textarea.succes {
  background: rgba(33, 150, 243, 0.1);
  border: 1px solid #2196F3;
  color: #555555;
}
/*# sourceMappingURL=rscss.css.map */